<!DOCTYPE html>
<html lang="en">
<html>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Backend</title>
    <link rel="stylesheet" href="styles.css">
</head>
<body>
    <h1>Hello <%=name%></h1>
    <main>
        <form method="post" action="/contact">
            <h1>Contact Now</h1>
            <input type="text" name="name" placeholder="Name"/>
            <input type="email" name="email" placeholder="Email"/>
            <button type="submit">Send Message</button>
        </form>
    </main>
</body>
</html>